<style type="text/css">
   body {
     padding-top:50px;
  }
</style>
<div class="container">


<h1>Editing Oneroom</h1>

<%= render 'form' %>

<%= link_to 'Show', @oneroom %> |
<%= link_to 'Back', onerooms_path %>
</div>
