<style type="text/css">
   body {
     padding-top:50px;
   }
 </style>
<div class="container">


<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_oneroom_path(@oneroom) %> |
<%= link_to 'Back', onerooms_path %>
</div>
