<h1>시작페이지입니다.</h1>

<div class="row">
  <div class="col-md-4">
    <select class="form-control" type="text" name="school">
      <option selected="selected">학교 선택</option>
      <option>서강대학교</option>
      <option>이화여자대학교</option>
      <option>연세대학교</option>
    </select>
  </div>
  <div class="col-md-4">
    <select class="form-control" type="text" name="place">
      <option selected="selected">종류 선택</option>
      <option>원룸</option>
      <option>하숙</option>
      <option>고시원</option>
    </select>
  </div>
  <button class="btn btn-default" type="submit" action="/home/map" method="post">검색하기</button>
</div>
