<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
        body {
     padding-top:50px;
    }
    .img-responsive {
     max-height:238px;
     max-width: 100%;
    height:100%;
    width: 100%;
    display: block;
  }
  </style>
 </head>
 <body>
    <div class="container">
       <h1>모아 놓은 방 목록</h1>
 
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="panel panel-default">
          <div class="panel-body"><a href="#"><img class="img-responsive" src="/images/bang1.jpg"></a></div>
          <div class="panel-footer"><strong>방세 : 40만 원</strong><br><strong>추가내용은 여기에 넣으세요</strong></div>
        </div>
      </div>
 
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="panel panel-default">
          <div class="panel-body"><a href="#"><img class="img-responsive" src="/images/bang2.jpg"></a></div>
          <div class="panel-footer"><strong>방세 : 30만 원</strong><br><strong>추가내용은 여기에 넣으세요</strong></div>
        </div>
      </div>
 
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="panel panel-default">
          <div class="panel-body"><a href="#"><img class="img-responsive" src="/images/bang3.jpg"></a></div>
          <div class="panel-footer"><strong>방세 : 20만 원</strong><br><strong>추가내용은 여기에 넣으세요</strong></div>
        </div>
      </div>
 
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="panel panel-default">
          <div class="panel-body"><a href="#"><img class="img-responsive" src="/images/bang4.jpg"></a></div>
          <div class="panel-footer"><strong>방세 : 10만 원</strong><br><strong>추가내용은 여기에 넣으세요</strong></div>
        </div>
      </div>
 
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="panel panel-default">
          <div class="panel-body"><a href="#"><img class="img-responsive" src="/images/bang5.jpg"></a></div>
         <div class="panel-footer"><strong>방세 : 60만 원</strong><br><strong>추가내용은 여기에 넣으세요</strong></div>
        </div>
      </div>
 
  </div><!--container-->
  </body>
                                                  



