<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style type="text/css">
  body {
    margin-top :80px;
  }
</style>

<div class="container">
  <center>
    <img src="/images/register.png" style="width:60%">
  </center>
</div>
