<style type="text/css">
  body {
    margin-top :80px;
  }
</style>

<div class="container">
  <a class="btn btn-default" href="/onerooms/new" role="button"><h3>자취방 등록하기</h3></a>
  <a class="btn btn-default" href="/hasuk_houses/new" role="button"><h3>하숙방 등록하기</h3></a>
</div>
